input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

label{
    cursor: pointer;
    font-size: 50px;
}
label::before {
    
    box-sizing: border-box;
    content: '';
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border: 1px solid lightgray;
    background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(212, 212, 212, 1) 100%);
    /* сделанно с помощью colorzilla и cssgradientio */
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

input[type="radio"]:hover+label::before {
    background: linear-gradient(180deg, rgba(238, 238, 238, 1) 0%, rgba(231, 231, 231, 1) 50%, rgba(220, 220, 220, 1) 100%);
}

input[type="radio"]:active+label::before {
    background: radial-gradient(rgba(0, 0, 0) 30%, rgba(255, 255, 255, 0) 31%), linear-gradient(180deg, rgba(238, 238, 238, 1) 0%, rgba(231, 231, 231, 1) 50%, rgba(220, 220, 220, 1) 100%);
    /* судя по всему изображения накладываются слева направо */
}

input[type="radio"]:checked+label::before {
    background: radial-gradient(rgba(0, 0, 0) 30%, rgba(255, 255, 255, 0) 31%), linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(212, 212, 212, 1) 100%);

}

input[type="radio"]:focus+label::before {
    box-shadow: 0 0 0 0.08em #65A5DF;
}

input[type="radio"]:disabled+label::before {
    opacity: 50%;
}

input[type="radio"]:checked:disabled+label::before {
    background: radial-gradient(rgba(0, 0, 0) 30%, rgba(255, 255, 255, 0) 31%), linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(212, 212, 212, 1) 100%);
    opacity: 40%;
}

/* при наведении на неактивную кнопку клик считывается,как убрать не знаю */