.nav{
    display:flex;
    flex-direction: row;
    width:max-content;
}
ul{
    border:2px solid black;
    padding:2vw;
}
ul>li{
    margin-right: 3vw;
    list-style: none;
    
}
a{
    text-decoration: none;
    color:black
}
a:hover{
    color:#3072C4;
}
.active{
    font-weight: bold;
}
li:nth-of-type(n+2)::before{
    margin-right: 1vw;
    content:"♦";
}